# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go workspace files
*.out

# Dependency directories (if not using Go Modules)
vendor/

# Environment files
development.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.tmp
.cache/

.env
go.mod
go.sum
